.main{
color: white;
    background-color: #31b572;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
}

.plant-delete {
    background-color: rgb(247, 9, 9);
    margin-left: 50px;
    cursor: pointer;

}